*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Josefin Sans", sans-serif;
  
}

#big-div{
    display: flex;
    height: 100vh;

}

#div-foto{
    background-color:#555D61;
    width: 50vw;
    display: flex;
    align-items:end;
}

#foto{
    width: 1000px;
    justify-content: center;
}

#form{
    background-color: black;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label{
    color: white;
    margin: 10px;
}

#bem-vindo{
    color: white;
    margin: 10px;
}

.input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    width: 300px;
    border-radius: 15px;
    border:none ;
}

#button{
    background-color:#A6A6A6;
    color: white;
    text-align: center;
    border-radius: 20px;
    border: none;
    width: 250px;
    height: 40px;
    font-size: 18px;
    margin-top: 5px;
 

}